

canvas {
    border: 1px solid black;
}

body {
    margin: 0;
}

.map-menu {
    width: 20%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.map-save {
    width: 20%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.arrow-div{
    margin-top: 40%;
    margin-left: -9%;
}


.menu-title{
    display: flex;
}

/* IMAGENES Y CHIPS */
.menu-img {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.menu-img-over {
    box-shadow: 0 0 11px aqua;
}

.menu-img-selected {
    box-shadow: 0 0 11px blue;
}

.menu-chip {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.menu-chip-over {
    box-shadow: 0 0 11px aqua;
}

.menu-chip-selected {
    box-shadow: 0 0 11px blue;
}

.menu-character {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.menu-character-over {
    box-shadow: 0 0 11px aqua;
}

.menu-character-selected {
    box-shadow: 0 0 11px blue;
}

.menu-bin {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.img-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.move-up {
    height: 100px;
    width: 100px;
    transform: rotate(0deg);
}

.move-left {
    height: 100px;
    width: 100px;
    transform: rotate(270deg);
}

.move-right {
    height: 100px;
    width: 100px;
    transform: rotate(90deg);
}

.move-down {
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
}

.vertical-move {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontal-move {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-save{
    display: flex;
    width: 57%;
    margin-left: 10%;
}

.save-map{
    display: flex;
    font-size: 1.3rem;
    width: 8.9em;
    height: 2.26em;
    margin-top: 0.068em;
}

.save-map > i{
    margin-right: 0.4em;
}


.menu-save > span {
    display: flex;
}

.menu-select {
    display: flex;
    width: 40%;
}

.map-menu .select2-container .select2-selection--single {
    width: 8.9em;
    height: 3em;
}

.menu-select > span {
    width: unset !important;
}

.menu-select .select2-container--default .select2-selection--single {
    border-radius: 0.2rem;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2);
}

.select-save{
    display: flex;
    flex-direction: row;
    margin-left: 0.4em;
}