

canvas {
    border: 1px solid black;
}

body {
    margin: 0;
}

.map-menu {
    width: 20%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.menu-title{
    display: flex;
}

/* IMAGENES Y CHIPS */
.menu-img {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.menu-img-over {
    box-shadow: 0 0 11px aqua;
}

.menu-img-selected {
    box-shadow: 0 0 11px blue;
}

.menu-chip {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.menu-chip-over {
    box-shadow: 0 0 11px aqua;
}

.menu-chip-selected {
    box-shadow: 0 0 11px blue;
}

.menu-bin {
    height: 100px;
    width: 100px;
    margin-left: 3.5%;
    margin-bottom: 3.5%;
}

.img-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.move-up {
    height: 100px;
    width: 100px;
    transform: rotate(0deg);
}

.move-left {
    height: 100px;
    width: 100px;
    transform: rotate(270deg);
}

.move-right {
    height: 100px;
    width: 100px;
    transform: rotate(90deg);
}

.move-down {
    height: 100px;
    width: 100px;
    transform: rotate(180deg);
}

.vertical-move {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.horizontal-move {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}