.left-panel {
    width: 20%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-top: -4em;
}

.map-menu{
    height: 19.2em !important;
}

.left-panel .map-menu {
    width: 100%;
}

.arrow-master{
    margin-top: 3em;
}

.send-message-form{
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.send-message-form .form-control{
    display: flex;
    border-radius: 0.2rem;
    width: 145%;
}

.send-message-form .save-map{
    width: 12%;
    height: 1.8em;
    margin-top: 0.03em;
    margin-left: 27%;
    padding-top: 0;
}

.chat-messages{
    overflow-y: auto;
    overflow-x: unset;
    height: 20em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.card-body .message   {
    display: inline-block;
    height: auto;
    word-wrap: break-word;
    padding-top: 0.5em;
    font-size: small;
    margin-right: 0.3em;
}


.message .myMessages {
    padding: 0.2rem;
    align-items: flex-end;
    word-break: break-word;
}

.message .otherMessages {
    padding: 0.2rem;
    padding-left: 0.4rem !important;
}

.message .otherMessages p {
    margin-left: 0.4rem;
}

.chat-messages::-webkit-scrollbar {
    width: 9px;
    background-color: #F5F5F5;
}

.chat-messages::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.chat-messages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #bcbed2;
    background-color: #8c8ea2;
}

.chat-messages {
    scrollbar-color: #8c8ea2 #F5F5F5;
    scrollbar-width: thin;
}

.menu-save {
    display: flex;
    width: 57%;
    margin-left: 50%;
    margin-top: -4em;
    margin-bottom: 1em;
}

.turn-order{
    height: 14.4em;
}

.turn{
    padding-left: 1em;
    margin-top: 0.6em;
}

.turn-users{
    padding-left: 4em;
    padding-right: 4em;
}










.arrow-user{
    margin-top: 9em;
}