<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--External references-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!--Internal references-->
    {% load static %}
    <script src='{% static "canvasDemo.js" %}'></script>
    <link rel='stylesheet' href='{% static "css/canvasDemo.css" %}'>

    <title>Canvas Demo</title>
    <!--<img id="scream" width="220" height="277" src="../static/Media/Zaen.jpg" alt="The Scream">-->

</head>
<body>

    <div style="display: flex;">
    <div style="height: 100%;width: 25%;padding: 0px;margin: 0px;">
        menu
    </div>
    <canvas></canvas>
    </div>

</body>
</html>