{% extends 'header.html' %}
{% block titulo %} <title>Game</title> {% endblock %}
{% block scriptJS %}
    {% load static %}
    <script src='{% static "js/canvasBaseGame.js" %}'></script>
    <script src='{% static "js/canvasChipGame.js" %}'></script>
    <script src='{% static "js/canvasCharacterGame.js" %}'></script>
    <script src='{% static "js/utilityMapGame.js" %}'></script>

    <link rel='stylesheet' href='{% static "/css/canvasStyle.css" %}'>
    <link rel='stylesheet' href='{% static "/css/game.css" %}'>
    <link rel='stylesheet' href='{% static "/external/loading.css" %}'>
{% endblock %}
{% block breadcrumbschild %}
    <li class="breadcrumb-item active"><a href={% url 'mainMenu' %}>Main Menu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Game Code: {{ gameCode }}</li>
{% endblock %}
{% block content %}
    <div style="display: flex;justify-content: space-around;margin-top:4%">
        <div class="left-panel">
            <div style="text-align: center; display: flex" class="flex-row">
                <a class="name-map-menu" style="display: flex;margin-right: 1em">Game Name:</a>
                <a style="display: flex">{{ gameName }}</a>
            </div>
            <div style="text-align: center; display: flex; margin-bottom: 1em" class="flex-row">
                <a class="name-map-menu" style="display: flex;margin-right: 1.6em">Map Name:</a>
                <a style="display: flex">{{ map }}</a>
            </div>
            <div class="map-menu card card-menu border-top-primary shadow h-100 py-2">
                <a class="name-map-menu"> Terrain </a>
                <div id="Tiles" class="img-container">
                </div>
                <hr class="hr-menu">
                <a class="name-map-menu"> Objects </a>
                <div id="Chips" class="img-container">
                </div>
                <hr class="hr-menu">
                <a class="name-map-menu"> NPCs </a>
                <div id="Characters" class="img-container">
                </div>
                <hr class="hr-menu">
                <a class="name-map-menu"> Characters </a>
                <div id="UserCharacters" class="img-container">
                    {% for index, character in characters.items %}
                        <img src="/static/Media/{{ index }}character.png" id="{{ character.User }}" movement="{{ character.Move }}" class="menu-character" isUser="true"/>
                    {% endfor %}
                </div>
            </div>
            <div class="arrow-master">
                <div class="img-container">
                    <a class="vertical-move name">Map controller</a>
                    <div class="vertical-move">
                        <img class="move-up" src="/static/Media/arrow.png">
                    </div>
                    <div class="horizontal-move">
                        <img class="move-left" src="/static/Media/arrow.png">
                    </div>
                    <div class="horizontal-move">
                        <img class="move-right" src="/static/Media/arrow.png">
                    </div>
                    <div class="vertical-move">
                        <img class="move-down" src="/static/Media/arrow.png">
                    </div>
                </div>
            </div>
        </div>

        <canvas id="backMap" style="background-color: white;"></canvas>
        <canvas id="chipMap" style="position: absolute;z-index:50"></canvas>
        <canvas id="characterMap" style="position: absolute;z-index:100"></canvas>

        <div class="map-menu">
            <div class="menu-save">
                <a href="#" class="save-map d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                        class="fas fa-download fa-sm text-white-50"></i> Save Changes</a>
            </div>
            <div class="card shadow mb-4 turn-order">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Turn: userplaceholder</h6>
                </div>
                <div class="card-body">
                    <h7>Select the next player's turn:</h7>
                    <div class="turn-users">
                        {% for index, character in characters.items %}
                            <a class="card border-left-primary turn btn btn-sm btn-normal">{{character.Name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% include 'chatBox.html' %}
        </div>
    </div>

    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <script>
        $(window).on("load",function(){
            $(".loader-wrapper").fadeOut("slow");
        });
        var pythonTiles = JSON.parse("{{ mapTiles }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        var pythonChips = JSON.parse("{{ mapChips }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        var pythonCharacters = JSON.parse("{{ mapCharacters }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        var pythonUserCharacters = JSON.parse("{{ characters }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        let menuTiles = JSON.parse("{{ menuTiles }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        menuTiles.push(["","trash.png"]);
        let menuChips = JSON.parse("{{ menuChips }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        menuChips.push(["","trashBlue.png"]);
        let menuCharacters = JSON.parse("{{ menuCharacters }}".replaceAll('&#x27;','"').replaceAll('--','-'));
        menuCharacters.push(["","trashGreen.png"]);
        let menuUserCharacters = "{{ characters }}";
        const mapName = "{{ map }}";
        const mapId = "{{ mapId }}";
        const gameId = "{{ gameId }}";
        var maxOrder = {{ maxOrder }};
        renderMenu(menuTiles, menuChips, menuCharacters);
        const csrftoken = $("input[name='csrfmiddlewaretoken']")[0].value ;
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"
            integrity="sha512-SxQulwFs2B38bmUJtBSo9tD07MDrtCbY8me3AOZ14tRknCPTeMDLvCQV4ekhs8R0o9QPnW5HQanKfveexVcwLA=="
            crossorigin="anonymous"></script>
    <script src='{% static "js/chatController.js" %}'></script>
{% endblock %}