{% extends 'header.html' %}
{% block titulo %} <title>Join Game</title> {% endblock %}
{% block scriptJS %}
    {% load static %}
     <script src='{% static "js/activateFormJoinGame.js" %}'></script>
{% endblock %}
{% block breadcrumbschild %}
    <li class="breadcrumb-item active"><a href={% url 'mainMenu' %}>Main Menu</a> </li>
    <li class="breadcrumb-item active" aria-current="page">Join Game</li>
{% endblock %}
{% block content %}
    <form id="joinGame" action="/mainMenu/joinGamePost/" method="POST">
    {% csrf_token %}
        <input type="hidden" id="gameId" name="gameId" value="{{ gameId }}">
        <input type="text" id="characterName" name="characterName" required>
        <input type="number" id="moveStat" name="moveStat" min="5" max="20" required>
        <button id="createBtn" type="submit" class="btn btn-primary" disabled>Create character and Join</button>
    </form>
{% endblock %}