{% extends 'header.html' %}
{% block titulo %} <title>Main Menu</title> {% endblock %}
{% block scriptJS %}
    {% load static %}
    <script src='{% static "js/activateFormJoinGameModal.js" %}'></script>
    <link rel='stylesheet' href='{% static "/css/mainMenu.css" %}'>
{% endblock %}

{% block content %}
    <div class="flexMenu">
        <a class="boxMenu rounded shadow" href='{% url 'myMaps' %}'>My Maps</a>
        <a class="boxMenu rounded shadow" href="" data-toggle="modal" data-target="#myGames">My Games</a>
        <a class="boxMenu rounded shadow" href='{% url 'createGame' %}'>Create Game</a>
    </div>
    <div class="joinFlex">
        <a class="boxJoin rounded shadow" href="" data-toggle="modal" data-target="#joinGame">Join Game</a>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myGames">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">My games:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ModalMyGamesForm" action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select id="gameList" name="gameList" class="custom-select">
                            <option value="" selected>Open this select menu</option>
                            {% for gameId,gameName in userGames.items %}
                                <option value="{{ gameId }}">{{ gameName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="createBtnGames" type="submit" class="btn btn-primary" disabled>Join</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="joinGame">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search game:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ModalJoinForm" action="/mainMenu/joinGame/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input name="gameCode" id="gameCode" type="text" placeholder="Game's code"
                               style="margin-top: 10px;" required>
                    </div>
                    <div class="modal-footer">
                        <button id="createBtn" type="submit" class="btn btn-primary" disabled>Enter</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
