{% extends 'header.html' %}
{% block scriptJS %}

{% endblock %}
{% block titulo %} <title>My Maps</title> {% endblock %}
{% block breadcrumbschild %}
    <li class="breadcrumb-item active"><a href={% url 'mainMenu' %}>Main Menu</a> </li>
    <li class="breadcrumb-item active" aria-current="page">My Maps</li>
{% endblock %}
{% block content %}
    <form id="editMap" action="/myMaps/editMap/" method="POST">
    {% csrf_token %}
        <input type="hidden" value="" name="mapId">
        <ul>
            {% for mapName, mapId in maps.items %}
                <li><a href="#" onclick="changeValueMap('{{ mapId }}');">{{ mapName }}</a></li>
            {% endfor %}
            <li><a href="" data-toggle="modal" data-target="#ModalMaps">New map</a></li>
        </ul>
    </form>
    <div class="modal" tabindex="-1" role="dialog" id="ModalMaps">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select base map:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ModalMapForm" action="/myMaps/editMap/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select name="mapList" class="custom-select">
                            <option value="" selected>Open this select menu</option>
                            {% for mapName,mapId in mapsModal.items %}
                                <option value="{{ mapId }}">{{ mapName }}</option>
                            {% endfor %}
                        </select>
                        <input name="mapName" type="text" style="margin-top: 10px;">
                    </div>
                    <div class="modal-footer">
                        <button id="createBtn" type="submit" class="btn btn-primary" disabled>Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% load static %}
<script src='{% static "js/changeFormAction.js" %}'></script>
{% endblock %}


