{% extends 'header.html' %}
{% block scriptJS %}
    {% load static %}
    <link rel='stylesheet' href='{% static "/css/myMaps.css" %}'>
    <script src='{% static "js/select2.js" %}'></script>
{% endblock %}
{% block titulo %} <title>My Maps</title> {% endblock %}
{% block breadcrumbschild %}
    <li class="breadcrumb-item active"><a href={% url 'mainMenu' %}>Main Menu</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Maps</li>
{% endblock %}
{% block content %}
    <form id="editMap" action="/myMaps/editMap/" method="POST">
        {% csrf_token %}
        <input type="hidden" value="" name="mapId">
        <div class="mapFlexMenu">
            {% for mapName, mapId in maps.items %}
                <a class="boxMaps rounded" href="#" data-toggle="tooltip" title="{{ mapName }}"
                   onclick="changeValueMap('{{ mapId }}');">{{ mapName }}</a>
            {% endfor %}
            <a class="boxMaps rounded" href="" data-toggle="modal" data-target="#ModalMaps"><i class="far fa-plus-square"></i> New map</a>
        </div>
    </form>
    <div class="modal" tabindex="-1" role="dialog" id="ModalMaps">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create new map:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ModalMapForm" action="/myMaps/editMap/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select name="mapList" class="modal-select" required>
                            <option value="" selected>Select base map</option>
                            {% for mapName,mapId in mapsModal.items %}
                                <option value="{{ mapId }}">{{ mapName }}</option>
                            {% endfor %}
                        </select>
                        <label alt="Select base map" placeholder="Select base map"></label>
                        <input name="mapName" type="text" style="margin-top: -0.1em;" required>
                        <label alt="Map's name" placeholder="Map's name"></label>
                    </div>
                    <div class="modal-footer">
                        <button id="createBtn" type="submit" class="btn btn-primary" disabled>Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% load static %}
    <script src='{% static "js/changeFormAction.js" %}'></script>
{% endblock %}


