{% extends 'header.html' %}
{% block scriptJS %}

{% endblock %}
{% block titulo %} <title>My Maps</title> {% endblock %}
{% block breadcrumbschild %}
    <li class="breadcrumb-item active" aria-current="page"><a href='{% url 'myMaps' %}'>My Maps</a> </li>
{% endblock %}
{% block content %}
    <ul>
        {% for map,value in maps.items %}
            <li>{{ map }}</li>
        {% endfor %}
        <li><a href="" data-toggle="modal" data-target="#ModalMaps">New map</a></li>
    </ul>
    <div class="modal" tabindex="-1" role="dialog" id="ModalMaps">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select base map:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="ModalMapForm" action="/editMap/" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <select name="mapList" class="custom-select">
                            <option value="" selected>Open this select menu</option>
                            {% for map,value in maps.items %}
                                <option value="{{ map }}">{{ map }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button id="createBtn" type="submit" class="btn btn-primary" disabled>Create</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% load static %}
<script src='{% static "changeFormAction.js" %}'></script>
{% endblock %}


