{% extends 'header.html' %}
{% block titulo %} <title>Sign</title> {% endblock %}
{% block breadcrumbschild %}
    <li><a href='{% url 'signUp' %}'>SignUp</a> </li>
{% endblock %}
{% block content %}
    <form action="/signUp/" method="post">
        {% csrf_token %}
        Name:
        <input type="text" name="name":><br><br>
        Email:
        <input type="email"  name="email"><br><br>
        Password:
        <input type="password" name="password"><br><br>
        Confirm Password:
        <input type="password" name="confirmPassword"><br>
        <br>
        <input type="submit" value="SignUp">
    </form>
{% endblock %}